.contact-text{
    margin: 50px;
    text-align: center;
    color: white;
}
.input-contact{
    display: flex;
    justify-content: center;
}

.subject{
    margin-left: 20px;
    
}
.message{
    margin-top: 10px;
    padding-bottom: 100px;
    width: 308px;
}
.send-button{
    margin-top:20px;
    margin-bottom: 60px;
    color: white;
    padding: 10px 60px;
    border-radius: 400px;
    background-color: red;
    border:none;
}