.contact-box{
    margin: 75px 0px;
    background-color: #2d2d2d;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
}

/* ----------- CONTACT-INFO -------- */

.contact-info{
    margin-left: 30px;
    margin-right: 100px;
    color: #A4A4A4;
    background-color: #2d2d2d;
    justify-content: space-around;
}

.contact-info .title{
    font-weight: 700;    
}

.contact-info .title.with-icon{
    margin-left: 10px;
}

.contact-info .flex-horizontal {
    align-items: center;
}

/* ----------- CONTACT-FORM -------- */

.contact-form{    
    background-color: #ffffff;
    width: 450px;
}

.contact-form h3{
    font-size: 1.7em;
    color: #5A5A5A;
    padding: 20px 0 40px 30px;
}

.contact-input{
    border:none;
    background-color: #DFDFDF;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 5px;
}

.contact-input::placeholder{
    font-family: 'Raleway', sans-serif;
}

.button-contact {
    margin-top: 15px;
    border: none;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #573dd3;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.button-contact:hover {
    background-color: #422da7;
}




