* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.flex-vertical{
  display: flex;
  flex-direction: column;
}

.body{
  
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

.btn-primary{
  padding: 15px 60px;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  font-size: 1em;
  background-color: #D32F2F;
  border: none;
  width: 300px;
  border-radius: 5px;
  color: white;
  cursor: pointer;  
}

.btn-primary:hover{
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
