.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.flex-vertical{
  display: flex;
  flex-direction: column;
}

.body{
  
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}
.button-over-white{
  padding: 15px 60px;
  background-color: white;
  border: none;
  width: 300px;
  border-radius: 300px;
  color: blue;
  cursor: pointer;
  
}

.button-over-white:hover{
  background-color: #282c34;
  color: white;
  font-size: 15px;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
